<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">                                                    
        <meta name="Description" content="Describe my website">
        <title>WEBSITE</title>
        <link rel="Fantasy style" href="fantasy.com">
        <style>
 
 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

body{margin: 0;padding: 0;font-family: arial,tahoma}
.Header{background: #209349;color: #3d195b;padding:0px 0;font-size: 25px;margin: 0px ; text-align: center
   }
.Navigation{background: white;color: #072f67;font-size: 25px;text-align: center}

ul{list-style: none;} 
ul,li,a,h6{color: white;font-size: 16px;display: inline-block;padding: 6px;margin: 0}  
img{width: 25px;height: 30px}
.clubsites{
   color: rgb(158, 146, 146);font-size: 10px;margin: 0
}
.chelsea{width :50px;height: 50x}
.PL{width :349px;height: 146px;padding: -2px;object-fit: contain;}
.Pll{width:80px;height:80px}
h1{text-align: center;font-size:35px;}
.paragraph{padding: 1px;font-size: medium;margin: 0;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
.BonusSystem{color: #ff0101;text-decoration: none;font-size: medium }

.Content{text-indent: 50px}
.Content,h3{font-size: 20px;padding: 4px;color: #072f67}

fieldset{background:#3d195b;border: 2px solid ;color: white;margin: 0px auto }
iframe {
       display: block;
       margin: 50px auto;}

.all{ text-align:center}       

.topnav{background:#3d195b;color: white }
.topnav {
       overflow: hidden;
       background-color: #3d195b;
       }
.topnav a {
           float: left;
           color: #f2f2f2;
           text-align: center;
           padding: 15px 15px;
           text-decoration: none;
           font-size: 17px;
           }
 
.topnav a:hover {
           background-color:white;
           color: black;
           }

*, *:after, *:before {
box-sizing: border-box;
}
:root {
--color-text-primary: #1c2a38;
--color-text-secondary: #8a8f98;
--color-text-alert: #d72641;
--color-text-icon: #dbdade;
--color-bg-primary: #fff;
--color-bg-secondary: #f3f5f9;
--color-bg-alert: #fdeaec;
--color-theme-primary: #623ce6;
}
button, input, select, textarea {
font: inherit;
}
img {
display: block;
}
strong {
font-weight: 600;
}
body {
font-family: "Inter", sans-serif;
line-height: 1.5;
color: var(--color-text-primary);
background-color: var(--color-bg-secondary);
}
.match {
background-color: var(--color-bg-primary);
display: flex;
flex-direction: column;
min-width: 600px;
border-radius: 10px;
box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0 4px 4px 0 rgba(48, 48, 48, 0.1);
margin-bottom: 50px;
}
.match-header {
display: flex;
border-bottom: 2px solid rgba(48, 48, 48, 0.1);
padding: 16px;
}
.match-status {
background-color: var(--color-bg-alert);
color: var(--color-text-alert);
padding: 8px 12px;
border-radius: 6px;
font-weight: 600;
font-size: 14px;
display: flex;
align-items: center;
line-height: 1;
margin-right: auto;
}
.match-status:before {
content: "";
display: block;
width: 6px;
height: 6px;
background-color: currentColor;
border-radius: 50%;
margin-right: 8px;
}
.match-tournament {
display: flex;
align-items: center;
font-weight: 600;
}
.match-tournament img {
width: 20px;
margin-right: 12px;
}
.match-actions {
display: flex;
margin-left: auto;
}
.btn-icon {
border: 0;
background-color: transparent;
color: var(--color-text-icon);
display: flex;
align-items: center;
justify-content: center;
}
.match-content {
display: flex;
position: relative;
}
.column {
padding: 32px;
display: flex;
justify-content: center;
align-items: center;
width: calc(100% / 3);
}
.team {
display: flex;
flex-direction: column;
align-items: center;
}
.team-logo {
width: 100px;
height: 100px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color: var(--color-bg-primary);
box-shadow: 0 4px 4px 0 rgba(48, 48, 48, 0.15), 0 0 0 15px var(--color-bg-secondary);
}
.team-logo img {
    width: 74px;
height: 70px;}
.team-name {
text-align: center;
margin-top: 24px;
font-size: 20px;
font-weight: 600;
}
.match-details {
display: flex;
flex-direction: column;
align-items: center;
}
.match-date, .match-referee {
font-size: 14px;
color: var(--color-text-secondary);
}
.match-date strong, .match-referee strong {
color: var(--color-text-primary);
}
.match-score {
margin-top: 12px;
display: flex;
align-items: center;
}
.match-score-number {
font-size: 48px;
font-weight: 600;
line-height: 1;
}
.match-score-number--leading {
color: var(--color-theme-primary);
}
.match-score-divider {
font-size: 28px;
font-weight: 700;
line-height: 1;
color: var(--color-text-icon);
margin-left: 10px;
margin-right: 10px;
}
.match-time-lapsed {
color: #df9443;
font-size: 14px;
font-weight: 600;
margin-top: 8px;
}
.match-referee {
margin-top: 12px;
}
.match-bet-options {
display: flex;
margin-top: 8px;
padding-bottom: 12px;
}
.match-bet-option {
margin-left: 4px;
margin-right: 4px;
border: 1px solid var(--color-text-icon);
background-color: #f9f9f9;
border-radius: 2px;
color: var(--color-text-secondary);
font-size: 14px;
font-weight: 600;
padding: 4px 8px;
}
.match-bet-place {
position: absolute;
bottom: -16px;
left: 50%;
transform: translateX(-50%);
border: 0;
background-color: var(--color-theme-primary);
border-radius: 6px;
padding: 10px 48px;
color: rgba(255, 255, 255, 0.9);
font-size: 14px;
box-shadow: 0 4px 8px 0 rgba(48, 48, 48, 0.25);
}
.container {

margin-bottom: 10px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.matchcontainer{
margin: 7%;
}
       
 
        </style>

    </head>
    <body>
            <div class="topnav">
                    <a class="active" href="https://www.premierleague.com/home">Home</a>
                    <a href="https://www.premierleague.com/news">News</a>
                    <a href="https://www.premierleague.com/video">Videos</a>
                    <a href="https://www.premierleague.com/about">About</a>
                  </div>
        <div class="Header">
            <div class="handelimg">

                <img class="PL" src="https://i.ibb.co/23JhzmQ/1.png"> 
            </div>
                   
        </div>
        <div class="Navigation">
            
                
            <ul> <h6 class="clubsites">CLUB SITES</h6>
                <li><a href="https://www.arsenal.com" target="_blank"><img src="http://icons.iconarchive.com/icons/giannis-zographos/english-football-club/128/Arsenal-FC-icon.png"></a></li>
                <li><a href="https://www.afcb.co.uk/" target="_blank"><img src="http://icons.iconarchive.com/icons/giannis-zographos/english-football-club/128/AFC-Bournemouth-icon.png"></a></li>
                <li><a href="https://www.avfc.co.uk" target="_blank"><img src="http://icons.iconarchive.com/icons/giannis-zographos/english-football-club/256/Aston-Villa-icon.png"></a></li>
                <li><a href="http://www.brightonandhovealbion.com" target="_blank"><img src="https://seeklogo.com/images/B/brighton-hove-albion-f-c-logo-3368C7D2CB-seeklogo.com.png"></a></li>
                <li><a href="https://https://www.burnleyfootballclub.com" target="_blank"><img src="https://seeklogo.com/images/B/burnley-football-club-logo-A999E3A51D-seeklogo.com.png"></a></li>
                <li><a href="https://www.chelseafc.com/" target="_blank"><img src="http://icons.iconarchive.com/icons/giannis-zographos/english-football-club/128/Chelsea-FC-icon.png"></a></li>
                <li><a href="https://www.cpfc.co.uk" target="_blank"><img src="https://seeklogo.com/images/C/crystal-palace-fc-logo-6F4DFE5EF9-seeklogo.com.png"></a></li>
                <li><a href="https://www.evertonfc.com" target="_blank"><img src="https://seeklogo.com/images/E/everton-f-c-logo-37358E4EF8-seeklogo.com.png"></a></li>
                <li><a href="https://www.lcfc.com/" target="_blank"><img src="https://seeklogo.com/images/L/leicester-city-fc-logo-FD9C3CA26E-seeklogo.com.png"></a></li>
                <li><a href="https://www.liverpoolfc.com" target="_blank"><img src="http://icons.iconarchive.com/icons/giannis-zographos/liverpool-fc/256/Liverpool-FC-icon.png"></a></li>
                <li><a href="https://www.mancity.com/" target="_blank"><img src="https://seeklogo.com/images/M/manchester-city-fc-logo-D7E546E481-seeklogo.com.png"></a></li>
                <li><a href="https://www.manutd.com" target="_blank"><img src="https://seeklogo.com/images/M/manchester-united-logo-F14DA1FCCD-seeklogo.com.png"></a></li>
                <li><a href="https://www.nufc.co.uk" target="_blank"><img src="https://seeklogo.com/images/N/newcastle-united-logo-FB0B4713D8-seeklogo.com.png"></a></li>
                <li><a href="https://www.canaries.co.uk" target="_blank"><img src="https://seeklogo.com/images/N/norwich-city-fc-logo-00D8B4333F-seeklogo.com.png"></a></li>
                <li><a href="https://www.sufc.co.uk/" target="_blank"><img src="https://seeklogo.com/images/S/sheffield-utd-fc-logo-CD59BF0954-seeklogo.com.png"></a></li>
                <li><a href="https://www.southamptonfc.com/" target="_blank"><img src="https://seeklogo.com/images/S/southampton-fc-logo-4B19787C71-seeklogo.com.png"></a></li>
                <li><a href="https://www.tottenhamhotspur.com/" target="_blank"><img src="https://seeklogo.com/images/T/Tottenham_Hotspur-logo-0303D43FA4-seeklogo.com.png"></a></li>
                <li><a href="https://www.watfordfc.com/" target="_blank"><img src="https://seeklogo.com/images/W/watford-fc-logo-7CF21B8C10-seeklogo.com.png"></a></li>
                <li><a href="https://www.whufc.com/" target="_blank"><img src="https://seeklogo.com/images/W/west-ham-united-logo-87BDCFD2AB-seeklogo.com.png"></a></li>
                <li><a href="https://www.wolves.co.uk/" target="_blank"><img src="https://seeklogo.com/images/W/wolves-logo-54BADC5EB5-seeklogo.com.png"></a></li>
            </ul><br>
            <ul> 
               <li> <a href="https://www.premierleague.com"><img class="Pll" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"></a></li> 
               <li><hr size="50px" color="#3d195b" width="1000px"></li> 
            </ul>
            
        </div>
        <div id= "match" class="matchcontainer">
            
           
        </div>
        <div class="Footer">
            <fieldset>
               <p class="all">All copyright  reserved to OSAMA SHAABAN &copy; 2019-2020</p> 
            </fieldset>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
 
  (function(){

    $.ajax({
    type: "GET",
    url: "/api/v1/magicano/",
    headers:{
        authorization:`Bearer ${sessionStorage.getItem('token')}`
    },
    success: function(gameweekdata)
    
    {
        console.log(gameweekdata[0]);
     gameweekdata.forEach(matchdata => {
         let id  = matchdata._id;
         let finished = matchdata.finished;
         let started = matchdata.started;
         let  gameweek = matchdata.gameweek;
         let kickoff_time = new Date (matchdata.kickoff_time);
         let team_a = matchdata.name_and_result.team_a;
         let team_h = matchdata.name_and_result.team_h;
         let team_a_score= matchdata.name_and_result.team_a_score;
         let team_h_score= matchdata.name_and_result.team_h_score;
         let url_a= matchdata.name_and_result.team_a_url;
         let url_h= matchdata.name_and_result.team_h_url;
         

         let handeldate = {
            year:kickoff_time.getFullYear(),

             daynumber:kickoff_time.getDate(),
             dayname:kickoff_time.getDay(),
             month:kickoff_time.getMonth() +1,
             hour:kickoff_time.getHours() -12,
             mint:kickoff_time.getMinutes()

             
         }

         let status;
         var now = new Date();

         if(finished == true && started == true){
            status = "Finished"
            $(".match-status").css({
                      color:"red"
                  })
         }else if(finished == false && started == false){
              var now = new Date();
              if(now.getMonth()+1 ==handeldate.month && now.getDate() == handeldate.daynumber){
                  status = "Today.."
                  $(".match-status").css({
                      color:"green",
                  })
              }else{

                  status = "Coming Soon"
                  $(".match-status").css({
                      color:"green"
                  })
              }
         }else{
            status = "Live"
            $(".match-status").css({
                      color:"green"
                  })

         }
    

         $("#match").append(` <!-- code here -->
            <div class="match">
                <span id="id" match="${id}"></span>
                <div class="match-header">
                    <div class="match-status">${status}</div>
                    <div class="match-tournament"><img src="https://assets.codepen.io/285131/pl-logo.svg" />English Premier League</div>
                    <div class="match-actions">
                        <button class="btn-icon"><i class="material-icons-outlined">grade</i></button>
                        <button class="btn-icon"><i class="material-icons-outlined">add_alert</i></button>
                    </div>
                </div>
                <div class="match-content">
                    <div class="column">
                        <div class="team team--home">
                            <div class="team-logo">
                                <img src="${url_a.slice(url_a.search("/"))}"" />
                            </div>
                            <h2 class="team-name">${team_a}</h2>
                        </div>
                    </div>
                    <div class="column">
                        <div class="match-details">
                            <div class="match-date">
                               
                                 <strong>1${kickoff_time.toDateString()}</strong>
                            </div>
                            <div class="match-score">
                                <span class="match-score-number match-score-number--leading">${team_a_score == null?team_a_score =0:team_a_score=team_a_score}</span>
                                <span class="match-score-divider">:</span>
                                <span class="match-score-number">${team_h_score == null?team_h_score =0:team_h_score=team_h_score}</span>
                            </div>
                            <div class="match-time-lapsed">
                                72'
                            </div>
                            <div class="match-referee">
                                Game week : <strong>(${gameweek})</strong>
                            </div>
                            <div class="match-bet-options">
                                <button class="match-bet-option">${handeldate.daynumber}</button>
                                
                                <button class="match-bet-option">${handeldate.month}</button>
                                <button class="match-bet-option">${handeldate.year}</button>
                                <button class="match-bet-option">${handeldate.hour}:${handeldate.mint}</button>
                            </div>
                            <button class="match-bet-place  ">Add Expectation</button>
                        </div> 
                    </div>
                    <div class="column">
                        <div class="team team--away">
                            <div class="team-logo">
                                <img src="${url_h.slice(url_h.search("/"))}" />
                            </div>
                            <h2 class="team-name">${team_h}</h2>
                        </div>
                    </div>
                </div>
            </div>`);
     });
    },
    
    error:function(err){
      window.location.href = '/main';
    }
    
});

expect = ()=>{
    console.log("expectinos")
}
$(document).ready(()=>{

    let matchid = $("#id").attr("match");
    console.log(matchid)
})
  }())
</script>

    </body>

</html>